<a href="https://colab.research.google.com/github/OwiyeD/Datawarehousing/blob/master/Water_Points_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Scraping water_points json dataset**



              ```
              {
              number_functional: …,
              number_water_points: {
              communityA: …,
              },
              community_ranking: …
              }

              ```

## Procedure

Summed all water_points with a status **"no"** in the column df['Water_functioning'] per the 65 community villages and divided the value with the total water_points per the respective community villages to find the percentage i.e. broken% = (df['Water_functioning']/water_points) * 100.
Then used the percentage brokage to rank the community where highest percentage brokage implied position 1 in the brokage rank while 0 percentage brokage implies position 65 since I used dense ranking but the max position

In [1]:
import urllib.request, json 
import pandas as pd
from pandas.io.json import json_normalize

with urllib.request.urlopen('https://raw.githubusercontent.com/onaio/ona-tech/master/data/water_points.json') as url:
    data = json.loads(url.read().decode())
    #I have to transform the json to dataframe since dataframe are optimized and have better analysis capabilities
    df = pd.DataFrame(json_normalize(data))
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  import sys

    water_pay                 respondent  ...            simserial     subscriberid
0          no                  community  ...                  NaN              NaN
1          no                  community  ...                  NaN              NaN
2          no                  community  ...                  NaN              NaN
3          no                  community  ...                  NaN              NaN
4          no                  community  ...                  NaN              NaN
..        ...                        ...  ...                  ...              ...
707        no                  community  ...                  NaN              NaN
708        no  local_authority community  ...                  NaN              NaN
709        no  local_authority community  ...                  NaN              NaN
710        no                  community  ...  8923301001001808293  620010100180829
711        no                  community  ...                  NaN              NaN

[712 rows x 48 columns]

In [2]:
#Let us list the columns
df.columns

Index(['water_pay', 'respondent', 'research_asst_name', 'water_used_season',
       '_bamboo_dataset_id', '_deleted_at', 'water_point_condition',
       '_xform_id_string', 'other_point_1km', '_attachments',
       'communities_villages', 'end', 'animal_number', 'water_point_id',
       'start', 'water_connected', 'water_manager_name', '_status',
       'enum_id_1', 'water_lift_mechanism', 'districts_divisions', '_uuid',
       'grid', 'date', 'formhub/uuid', 'road_available', 'water_functioning',
       '_submission_time', 'signal', 'water_source_type', '_geolocation',
       'water_point_image', 'water_point_geocode', 'deviceid',
       'locations_wards', 'water_manager', 'water_developer', '_id',
       'animal_point', 'water_mechanism_plate', 'water_lift_mechanism_type',
       'road_type', 'water_mechanism_plate_units', 'water_mechanism_plate_no',
       'water_not_functioning', 'water_source_type_other', 'simserial',
       'subscriberid'],
      dtype='object')

In [3]:
#How many unique communities do we have
communities = set(df.communities_villages)
#communities
print(len(communities))

65

In [4]:
#Sum the water points per community
water_points = df.groupby(['communities_villages'])['water_point_id'].size().to_frame(name='number_water_points').reset_index()
water_points

   communities_villages  number_water_points
0              Abanyeri                    4
1           Akpari-yeri                    3
2              Alavanyo                    3
3                 Arigu                   12
4               Badomsa                   27
..                  ...                  ...
60                Zogsa                    6
61                  Zua                   28
62              Zuedema                   18
63              Zukpeni                    6
64               Zundem                   30

[65 rows x 2 columns]

In [5]:
#Calculate how many water_points are functioning
functioning = df[df.water_functioning=='yes'].groupby(['communities_villages']).size().to_frame(name='number_functional').reset_index()
functioning

   communities_villages  number_functional
0              Abanyeri                  4
1           Akpari-yeri                  3
2              Alavanyo                  2
3                 Arigu                  6
4               Badomsa                 27
..                  ...                ...
60                Zogsa                  5
61                  Zua                 24
62              Zuedema                 18
63              Zukpeni                  2
64               Zundem                 30

[65 rows x 2 columns]

In [6]:
#Broken water_points
broken = df[df.water_functioning=='no'].groupby(['communities_villages']).size().to_frame(name='broken').reset_index()
broken

   communities_villages  broken
0              Alavanyo       1
1                 Arigu       6
2                Bandem       3
3             Banyangsa       3
4           Chanpolinsa       1
5               Dorinsa       1
6              Gbaarigu       3
7                 Gbima       1
8                 Guuta       2
9                 Jagsa       6
10             Kanwaasa       1
11            Kpatarigu       5
12               Kubore       5
13              Kulbugu       1
14               Kurugu       4
15            Loagri_1_       4
16               Longsa       2
17             Nabulugu       4
18            Namgurima       4
19               Nayoku       6
20            Selinvoya       1
21                  Soo       2
22              Tantala       6
23           Zangu-Vuga       2
24              Zanwara       4
25                Zogsa       1
26                  Zua       4
27              Zukpeni       4

In [ ]:
print(df['water_not_functioning'].value_counts())

kiosk_broken                              39
water_source_dry                          16
under_construction                        14
lift_broken                                7
missing_parts lift_broken kiosk_broken     4
improperly_constr                          2
lift_broken kiosk_broken                   1
kiosk_broken under_construction            1
water_source_dry under_construction        1
na_dn                                      1
poor_water other                           1
Name: water_not_functioning, dtype: int64

In [7]:
print(df['water_functioning'].value_counts())

yes      623
no        87
na_dn      2
Name: water_functioning, dtype: int64

In [10]:
from functools import reduce
import numpy as np

#List the sub-dataframes i.e. water_points, functioning and broken
dfs = [water_points, functioning, broken]
points_df = reduce(lambda left,right: pd.merge(left,right,how='left', on=['communities_villages']), dfs)
points_df.fillna(0, inplace=True)
points_df['brokage percent'] = [(x/y) *100 if x is not 0 else 0.0 for x,y in zip(points_df['broken'],points_df['number_water_points'])]
#points_df['broken%'] = points_df['broken%'].replace(0, 1)
points_df['rank'] = points_df['brokage percent'].rank(method='max',ascending=False)
points_df

   communities_villages  number_water_points  ...  brokage percent  rank
0              Abanyeri                    4  ...         0.000000  65.0
1           Akpari-yeri                    3  ...         0.000000  65.0
2              Alavanyo                    3  ...        33.333333   9.0
3                 Arigu                   12  ...        50.000000   4.0
4               Badomsa                   27  ...         0.000000  65.0
..                  ...                  ...  ...              ...   ...
60                Zogsa                    6  ...        16.666667  18.0
61                  Zua                   28  ...        14.285714  21.0
62              Zuedema                   18  ...         0.000000  65.0
63              Zukpeni                    6  ...        66.666667   1.0
64               Zundem                   30  ...         0.000000  65.0

[65 rows x 6 columns]

In [11]:
commu = points_df[points_df['communities_villages'].isin([communities])]
commu

Empty DataFrame
Columns: [communities_villages, number_water_points, number_functional, broken, brokage percent, rank]
Index: []

In [12]:
#Just confirm that broken water_points are actually 87
print(points_df['broken'].sum())

87.0

In [16]:
points_df.to_dict(orient='records')

[{'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Abanyeri',
  'number_functional': 4,
  'number_water_points': 4,
  'rank': 65.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Akpari-yeri',
  'number_functional': 3,
  'number_water_points': 3,
  'rank': 65.0},
 {'brokage percent': 33.33333333333333,
  'broken': 1.0,
  'communities_villages': 'Alavanyo',
  'number_functional': 2,
  'number_water_points': 3,
  'rank': 9.0},
 {'brokage percent': 50.0,
  'broken': 6.0,
  'communities_villages': 'Arigu',
  'number_functional': 6,
  'number_water_points': 12,
  'rank': 4.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Badomsa',
  'number_functional': 27,
  'number_water_points': 27,
  'rank': 65.0},
 {'brokage percent': 42.857142857142854,
  'broken': 3.0,
  'communities_villages': 'Bandem',
  'number_functional': 4,
  'number_water_points': 7,
  'rank': 6.0},
 {'brokage percent': 30.0,
  'broken': 3.0,
  'communities_villages': 'Banyangsa',
  'number_functional': 7,
  'number_water_points': 10,
  'rank': 10.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Bechinsa',
  'number_functional': 26,
  'number_water_points': 26,
  'rank': 65.0},
 {'brokage percent': 25.0,
  'broken': 1.0,
  'communities_villages': 'Chanpolinsa',
  'number_functional': 3,
  'number_water_points': 4,
  'rank': 14.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Chansa',
  'number_functional': 9,
  'number_water_points': 9,
  'rank': 65.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Chondema',
  'number_functional': 4,
  'number_water_points': 4,
  'rank': 65.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Dibisi',
  'number_functional': 2,
  'number_water_points': 2,
  'rank': 65.0},
 {'brokage percent': 5.88235294117647,
  'broken': 1.0,
  'communities_villages': 'Dorinsa',
  'number_functional': 16,
  'number_water_points': 17,
  'rank': 28.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Fiisa',
  'number_functional': 5,
  'number_water_points': 5,
  'rank': 65.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Gaadem',
  'number_functional': 2,
  'number_water_points': 2,
  'rank': 65.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Garigu',
  'number_functional': 1,
  'number_water_points': 1,
  'rank': 65.0},
 {'brokage percent': 60.0,
  'broken': 3.0,
  'communities_villages': 'Gbaarigu',
  'number_functional': 2,
  'number_water_points': 5,
  'rank': 2.0},
 {'brokage percent': 33.33333333333333,
  'broken': 1.0,
  'communities_villages': 'Gbima',
  'number_functional': 2,
  'number_water_points': 3,
  'rank': 9.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Gumaryili',
  'number_functional': 1,
  'number_water_points': 1,
  'rank': 65.0},
 {'brokage percent': 6.25,
  'broken': 2.0,
  'communities_villages': 'Guuta',
  'number_functional': 30,
  'number_water_points': 32,
  'rank': 27.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Guuta-Nasa',
  'number_functional': 11,
  'number_water_points': 11,
  'rank': 65.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Jaata',
  'number_functional': 8,
  'number_water_points': 8,
  'rank': 65.0},
 {'brokage percent': 15.789473684210526,
  'broken': 6.0,
  'communities_villages': 'Jagsa',
  'number_functional': 32,
  'number_water_points': 38,
  'rank': 19.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Jiniensa',
  'number_functional': 1,
  'number_water_points': 1,
  'rank': 65.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Jiningsa',
  'number_functional': 7,
  'number_water_points': 7,
  'rank': 65.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Jiningsa-Yipaala',
  'number_functional': 3,
  'number_water_points': 3,
  'rank': 65.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Jiriwiensa',
  'number_functional': 8,
  'number_water_points': 8,
  'rank': 65.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Kaasa',
  'number_functional': 25,
  'number_water_points': 25,
  'rank': 65.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Kalaasa',
  'number_functional': 1,
  'number_water_points': 1,
  'rank': 65.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Kanbangsa',
  'number_functional': 8,
  'number_water_points': 8,
  'rank': 65.0},
 {'brokage percent': 11.11111111111111,
  'broken': 1.0,
  'communities_villages': 'Kanwaasa',
  'number_functional': 8,
  'number_water_points': 9,
  'rank': 23.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Kom',
  'number_functional': 6,
  'number_water_points': 6,
  'rank': 65.0},
 {'brokage percent': 9.803921568627452,
  'broken': 5.0,
  'communities_villages': 'Kpatarigu',
  'number_functional': 46,
  'number_water_points': 51,
  'rank': 24.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Kpikpaluk',
  'number_functional': 3,
  'number_water_points': 3,
  'rank': 65.0},
 {'brokage percent': 27.77777777777778,
  'broken': 5.0,
  'communities_villages': 'Kubore',
  'number_functional': 13,
  'number_water_points': 18,
  'rank': 12.0},
 {'brokage percent': 9.090909090909092,
  'broken': 1.0,
  'communities_villages': 'Kulbugu',
  'number_functional': 10,
  'number_water_points': 11,
  'rank': 25.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Kunkwah',
  'number_functional': 3,
  'number_water_points': 3,
  'rank': 65.0},
 {'brokage percent': 44.44444444444444,
  'broken': 4.0,
  'communities_villages': 'Kurugu',
  'number_functional': 5,
  'number_water_points': 9,
  'rank': 5.0},
 {'brokage percent': 22.22222222222222,
  'broken': 4.0,
  'communities_villages': 'Loagri_1_',
  'number_functional': 14,
  'number_water_points': 18,
  'rank': 16.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Logvasgsa',
  'number_functional': 4,
  'number_water_points': 4,
  'rank': 65.0},
 {'brokage percent': 22.22222222222222,
  'broken': 2.0,
  'communities_villages': 'Longsa',
  'number_functional': 7,
  'number_water_points': 9,
  'rank': 16.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Luisa',
  'number_functional': 8,
  'number_water_points': 8,
  'rank': 65.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Mwalorinsa',
  'number_functional': 8,
  'number_water_points': 8,
  'rank': 65.0},
 {'brokage percent': 12.903225806451612,
  'broken': 4.0,
  'communities_villages': 'Nabulugu',
  'number_functional': 27,
  'number_water_points': 31,
  'rank': 22.0},
 {'brokage percent': 50.0,
  'broken': 4.0,
  'communities_villages': 'Namgurima',
  'number_functional': 4,
  'number_water_points': 8,
  'rank': 4.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Nawaasa',
  'number_functional': 5,
  'number_water_points': 6,
  'rank': 65.0},
 {'brokage percent': 17.142857142857142,
  'broken': 6.0,
  'communities_villages': 'Nayoku',
  'number_functional': 29,
  'number_water_points': 35,
  'rank': 17.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Nyandema',
  'number_functional': 3,
  'number_water_points': 3,
  'rank': 65.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Nyankpiensa',
  'number_functional': 8,
  'number_water_points': 8,
  'rank': 65.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Piisa',
  'number_functional': 5,
  'number_water_points': 5,
  'rank': 65.0},
 {'brokage percent': 7.6923076923076925,
  'broken': 1.0,
  'communities_villages': 'Selinvoya',
  'number_functional': 12,
  'number_water_points': 13,
  'rank': 26.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Sikabsa',
  'number_functional': 3,
  'number_water_points': 3,
  'rank': 65.0},
 {'brokage percent': 28.57142857142857,
  'broken': 2.0,
  'communities_villages': 'Soo',
  'number_functional': 4,
  'number_water_points': 7,
  'rank': 11.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Suik',
  'number_functional': 1,
  'number_water_points': 1,
  'rank': 65.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Tankangsa',
  'number_functional': 6,
  'number_water_points': 6,
  'rank': 65.0},
 {'brokage percent': 27.27272727272727,
  'broken': 6.0,
  'communities_villages': 'Tantala',
  'number_functional': 16,
  'number_water_points': 22,
  'rank': 13.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Tuisa',
  'number_functional': 4,
  'number_water_points': 4,
  'rank': 65.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Vundema',
  'number_functional': 5,
  'number_water_points': 5,
  'rank': 65.0},
 {'brokage percent': 15.384615384615385,
  'broken': 2.0,
  'communities_villages': 'Zangu-Vuga',
  'number_functional': 11,
  'number_water_points': 13,
  'rank': 20.0},
 {'brokage percent': 40.0,
  'broken': 4.0,
  'communities_villages': 'Zanwara',
  'number_functional': 6,
  'number_water_points': 10,
  'rank': 7.0},
 {'brokage percent': 16.666666666666664,
  'broken': 1.0,
  'communities_villages': 'Zogsa',
  'number_functional': 5,
  'number_water_points': 6,
  'rank': 18.0},
 {'brokage percent': 14.285714285714285,
  'broken': 4.0,
  'communities_villages': 'Zua',
  'number_functional': 24,
  'number_water_points': 28,
  'rank': 21.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Zuedema',
  'number_functional': 18,
  'number_water_points': 18,
  'rank': 65.0},
 {'brokage percent': 66.66666666666666,
  'broken': 4.0,
  'communities_villages': 'Zukpeni',
  'number_functional': 2,
  'number_water_points': 6,
  'rank': 1.0},
 {'brokage percent': 0.0,
  'broken': 0.0,
  'communities_villages': 'Zundem',
  'number_functional': 30,
  'number_water_points': 30,
  'rank': 65.0}]